<div class="grid-footer">
    <div style="width: 325px; margin-top: 5px;">
        <a href="/marketgm" onclick="return onLoading()">
            <img style="width: 150px;" src="/images/zerobeings_logo_m.png"/>
        </a><br>
        <p style="font-size: 16px;">
            Market gm ☕️ is a direct listings digital marketplace for non-fungible tokens (NFTs).
            Enabling creators to buy, sell, and discover digital items within the marketplace or independtly of Market gm ☕️!
        </p>
        <p>
            Platform fee of 0.5% built into the marketplace <a class="link" style="text-decoration:none;" target="_blank" href="https://etherscan.io/address//0x8F6502Aeae32D3B708236F8cB1eB2aa45429cE34#code">contract</a>.
        </p> 
    </div>
    <div>
        <h2 class="bluz footMarket">About...</h2>
        <div><a class="link" style="text-decoration:none;" target="_blank" href="https://twitter.com/Zero_beings">Twitter</a></div><br>
        <div><a class="link" style="text-decoration:none;" target="_blank" href="https://github.com/Zerobeings">Github</a></div><br>
        <div><a class="link" style="text-decoration:none;" target="_blank" href="https://discord.gg/sjbVYr6ZXS">Discord</a></div><br>
        <div><a class="link" style="text-decoration:none;" target="_blank" href="https://zerobeings.xyz">Public Site</a></div><br>
        <div><a class="link" style="text-decoration:none;" target="_blank" href="https://learn.zerobeings.xyz/#/">Learn</a></div>
    </div>
    <div>
        <h2 class="bluz footMarket">Powered By...</h2>
        <div><a style="text-decoration:none;margin-top: 5px;" class="link" target="_blank" href="https://privateparty.dev/">Privateparty</a></div><br>
        <div><a style="text-decoration:none;padding-top: 5px;" class="link" target="_blank" href="https://docs.alchemy.com/reference/nft-api-quickstart">Alchemy API</a></div><br>
        <div><a style="text-decoration:none;margin-top: 5px;" class="link" target="_blank" href="https://portal.thirdweb.com/templates/marketplace">thirdweb SDK</a></div><br>
        <div><a style="text-decoration:none;margin-top: 5px;" class="link" target="_blank" href="https://multichain-api.rarible.org/v0.1/tag/item-controller#operation/getItemRoyaltiesById">Rarible API</a></div>
    </div>
    <div>
        <h2 class="bluz footMarket">Recommended...</h2>
        <div><a class="link" style="text-decoration:none; " target="_blank" href="https://thirdweb.com/">thirdweb</a></div><br>
        <div><a class="link" style="text-decoration:none; " target="_blank" href="https://docs.factoria.app/#/">Factoria</a></div><br>
        <div><a class="link" style="text-decoration:none; " target="_blank" href="https://cell.computer/#/?id=introduction">Cell</a></div><br>
        <div><a class="link" style="text-decoration:none; " target="_blank" href="https://moneypipe.xyz/">Moneypipe</a></div><br>
        <div><a class="link" style="text-decoration:none; " target="_blank" href="https://twitter.com/skogard">Skogard Productions</a></div>
    </div>
</div>