<div class="grid-footer">
    <div class="logo-footer-div">
        <a id="footerLoader" href="/marketgm">
            <img class="logo-footer-width" src="/images/zerobeings_logo_m.png"/>
        </a><br>
        <p class="font16">
            Market gm ☕️ is a direct listings digital marketplace for non-fungible tokens (NFTs).
            Enabling creators to buy, sell, and discover digital items within the marketplace or independtly of Market gm ☕️!
        </p>
        <p>
            Platform fee of 0.5% built into the marketplace <a class="link no-decorations" target="_blank" href="https://etherscan.io/address//0xd89EFD429668036580844701F2A50eF7B48FE493#code">contract</a>.
        </p> 
    </div>
    <div>
        <h2 class="bluz footMarket">About...</h2>
        <div><a class="link no-decorations" target="_blank" href="https://twitter.com/Zero_beings">Twitter</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://github.com/Zerobeings">Github</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://discord.gg/sjbVYr6ZXS">Discord</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://zerobeings.xyz">Public Site</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://learn.zerobeings.xyz/#/">Learn</a></div>
    </div>
    <div>
        <h2 class="bluz footMarket">Powered By...</h2>
        <div><a class="link no-decorations" target="_blank" href="https://privateparty.dev/">Privateparty</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://docs.alchemy.com/reference/nft-api-quickstart">Alchemy API</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://portal.thirdweb.com/templates/marketplace">thirdweb SDK</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://multichain-api.rarible.org/v0.1/tag/item-controller#operation/getItemRoyaltiesById">Rarible API</a></div>
    </div>
    <div>
        <h2 class="bluz footMarket">Recommended...</h2>
        <div><a class="link no-decorations" target="_blank" href="https://thirdweb.com/">thirdweb</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://docs.factoria.app/#/">Factoria</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://cell.computer/#/?id=introduction">Cell</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://moneypipe.xyz/">Moneypipe</a></div><br>
        <div><a class="link no-decorations" target="_blank" href="https://twitter.com/skogard">Skogard Productions</a></div>
    </div>
</div>

<div class="copyright">
    <div class="margin-top-6px font12 grey-color">Copyright &copy <a id="date"></a> Your project. All rights reserved.
        <a href="/login" id="termly-consent-preferences" class="no-decorations margin-left-20px float-right font12 grey-color">Consent Preferences</a>
        <a href="https://app.termly.io/document/disclaimer/2e28f689-4566-442c-86a9-e8ae2bb0f4d9" class="no-decorations margin-left-20px float-right font12 grey-color">Disclaimer</a>
        <a href="https://app.termly.io/document/acceptable-use/a43ef012-c2ef-45bf-abcc-60f698ae32aa" class="no-decorations margin-left-20px float-right font12 grey-color">Acceptable Use</a>
        <a href="https://app.termly.io/document/refund-policy/832d4200-3f71-4913-af49-7915fcfc16af" class="no-decorations margin-left-20px float-right font12 grey-color">Refund Policy</a>
        <a href="https://app.termly.io/document/terms-of-service/ec646580-d94c-4049-8e41-e0bceb6ba167" class="no-decorations float-right font12 grey-color" target="_blank">Terms of Use</a>
    </div>
</div>