     <!-- Slideshow container -->
  <div class="slideshow-container slide1">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides1 fade">
      <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x97f2318bfadec027d24a28759123889dc11e41db">
              <input type="image" class="slideImages" onclick="return onLoading()" src="/images/joffee.png">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xdb6F6f88b32793349CA121421777a7615c4B8848">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/d52b21a446888459f210a0ab965e3f8b">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x557803A3f398EF2563683eA83D3d1fD110d6cCEC">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/ba632837db52828238c108de917ac2bb">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides1 fade">
      <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x97f2318bfadec027d24a28759123889dc11e41db">
              <input type="image" class="slideImages" onclick="return onLoading()" src="/images/joffee.png">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xdb6F6f88b32793349CA121421777a7615c4B8848">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/d52b21a446888459f210a0ab965e3f8b">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x09e8617f391c54530CC2D3762ceb1dA9F840c5a3">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/3733eb0db73c4f5fd3ab3048e0368820">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides1(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides1(1)">&#10095;</a>
  </div>
  
  <!-- Slideshow container -->
    <div class="slideshow-container slide2">
  
      <!-- Full-width images with number and caption text -->
      <div class="mySlides2 fade">
        <table>
          <tr>
            <td>
              <form action="/goerli-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
                <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
              </form>
            </td>
            <td>
              <form action="/goerli-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x97f2318bfadec027d24a28759123889dc11e41db">
                <input type="image" class="slideImages" onclick="return onLoading()" src="/images/joffee.png">
              </form>
            </td>
            <td>
              <form action="/goerli-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xdb6F6f88b32793349CA121421777a7615c4B8848">
                <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/d52b21a446888459f210a0ab965e3f8b">
              </form>
            </td>
          </tr>
        </table>
      </div>
  
       <!-- Full-width images with number and caption text -->
       <div class="mySlides2 fade">
       <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x97f2318bfadec027d24a28759123889dc11e41db">
              <input type="image" class="slideImages" onclick="return onLoading()" src="/images/joffee.png">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xdb6F6f88b32793349CA121421777a7615c4B8848">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/d52b21a446888459f210a0ab965e3f8b">
            </form>
          </td>
        </tr>
       </table>
      </div>
    
      <div class="mySlides2 fade">
        <table>
          <tr>
            <td>
              <form action="/goerli-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
                <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
              </form>
            </td>
            <td>
              <form action="/goerli-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xE29F8038d1A3445Ab22AD1373c65eC0a6E1161a4">
                <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/0cd2f96eda86e5957c234d24b0a41ac9">
              </form>
            </td>
            <td>
              <form action="/goerli-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xdb6F6f88b32793349CA121421777a7615c4B8848">
                <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/d52b21a446888459f210a0ab965e3f8b">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides2(1)">&#10095;</a>
    </div>
  
      <!-- Slideshow container -->
  <div class="slideshow-container slide3">
  
    <!-- Full-width images with number and caption text -->
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x97f2318bfadec027d24a28759123889dc11e41db">
              <input type="image" class="slideImages" onclick="return onLoading()" src="/images/joffee.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xE29F8038d1A3445Ab22AD1373c65eC0a6E1161a4">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/0cd2f96eda86e5957c234d24b0a41ac9">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xE29F8038d1A3445Ab22AD1373c65eC0a6E1161a4">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/0cd2f96eda86e5957c234d24b0a41ac9">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
              <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
            </form>
          </td>
          <td>
            <form action="/goerli-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xE29F8038d1A3445Ab22AD1373c65eC0a6E1161a4">
              <input type="image" class="slideImages" onclick="return onLoading()" src="https://nft-cdn.alchemy.com/eth-goerli/0cd2f96eda86e5957c234d24b0a41ac9">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides3(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides3(1)">&#10095;</a>
  </div>
  
    <!-- Slideshow container -->
    <div class="slideshow-container slide4">
  
      <!-- Full-width images with number and caption text -->
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div>
  
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div>
    
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div> 
  
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div> 
  
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div>
  
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div>
    
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div> 
  
      <div class="mySlides4 fade">
        <form action="/goerli-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9870Da00643AeA2BE9dF89d87efeD0A2fdb5479e">
          <input type="image" class="slideImages" onclick="return onLoading()" style="border: 2px solid white;" src="https://nft-cdn.alchemy.com/eth-goerli/ea2e10829257be64d922f4b2b3be3712">
        </form>
      </div> 
     
    
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides4(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides4(1)">&#10095;</a>
    </div>