     <!-- Slideshow container -->
  <div class="slideshow-container slide1">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides1 fade">
      <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4ef1d8695dfbe6869cb1ec91d1a47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x3DFA5D25497427cB115364bd38618231378D0423">
              <input type="image" class="slideImages" id="paginationBtn" src="/images/joffee.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides1 fade">
      <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x3DFA5D25497427cB115364bd38618231378D0423">
              <input type="image" class="slideImages" id="paginationBtn" src="/images/joffee.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xa0657f6290ad301ab45b703b438560d97fc2926a">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" id="plusSlides1Minus">&#10094;</a>
    <a class="next" id="plusSlides1Plus">&#10095;</a>
  </div>
  
  <!-- Slideshow container -->
    <div class="slideshow-container slide2">
  
      <!-- Full-width images with number and caption text -->
      <div class="mySlides2 fade">
        <table>
          <tr>
            <td>
              <form action="/sepolia-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
                <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
              </form>
            </td>
            <td>
              <form action="/sepolia-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x3DFA5D25497427cB115364bd38618231378D0423">
                <input type="image" class="slideImages" id="paginationBtn" src="/images/joffee.png">
              </form>
            </td>
            <td>
              <form action="/sepolia-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
                <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
              </form>
            </td>
          </tr>
        </table>
      </div>
  
       <!-- Full-width images with number and caption text -->
       <div class="mySlides2 fade">
       <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x3DFA5D25497427cB115364bd38618231378D0423">
              <input type="image" class="slideImages" id="paginationBtn" src="/images/joffee.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
        </tr>
       </table>
      </div>
    
      <div class="mySlides2 fade">
        <table>
          <tr>
            <td>
              <form action="/sepolia-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
                <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
              </form>
            </td>
            <td>
              <form action="/sepolia-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
                <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
              </form>
            </td>
            <td>
              <form action="/sepolia-marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
                <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Next and previous buttons -->
      <a class="prev" id="plusSlides2Minus">&#10094;</a>
      <a class="next" id="plusSlides2Plus">&#10095;</a>
    </div>
  
      <!-- Slideshow container -->
  <div class="slideshow-container slide3">
  
    <!-- Full-width images with number and caption text -->
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x3DFA5D25497427cB115364bd38618231378D0423">
              <input type="image" class="slideImages" id="paginationBtn" src="/images/joffee.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="mySlides3 fade">
      <table>
        <tr>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
              <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
            </form>
          </td>
          <td>
            <form action="/sepolia-marketgm" method="POST" id="searchForm">
              <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xA0657F6290aD301Ab45b703B438560d97Fc2926A">
              <input type="image" class="slideImages" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeighw4kzeqbtupjouql3rev7vlc2tit6bt55ubxvbl3235dqzdh53u/1.png">
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" id="plusSlides3Minus">&#10094;</a>
    <a class="next" id="plusSlides3Plus">&#10095;</a>
  </div>
  
    <!-- Slideshow container -->
    <div class="slideshow-container slide4">
  
      <!-- Full-width images with number and caption text -->
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div>
  
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div>
    
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div> 
  
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div> 
  
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div>
  
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div>
    
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div> 
  
      <div class="mySlides4 fade">
        <form action="/sepolia-marketgm" method="POST" id="searchForm">
          <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x60a8077140f4Ef1d8695DfbE6869CB1EC91d1A47">
          <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://ipfs.io/ipfs/bafybeibymtvvmsx4u5ygk5so7tumscioylkpanrthzdwhgbcqxqxsmghoa/myAuctionsToClose.png">
        </form>
      </div> 
     
    
      <!-- Next and previous buttons -->
      <a class="prev" id="plusSlides4Minus">&#10094;</a>
      <a class="next" id="plusSlides4Plus">&#10095;</a>
    </div>