     <!-- Slideshow container -->
     <div class="slideshow-container slide1">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides1 fade">
        <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8fba3ebe77d3371406a77eeaf40c89c1ed55364a">
                <input type="image" class="slideImages" id="paginationBtn" src="https://raw.githubusercontent.com/Zerobeings/ZeroBeingsNFTs/main/images/00001.png">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x6866ed9a183f491024692971a8f78b048fb6b89b">
                <input type="image" class="slideImages" id="paginationBtn" src="https://nft-cdn.alchemy.com/eth-mainnet/c4273623069c967a8ee3b8f6f08cf57f">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xBE4Bef8735107db540De269FF82c7dE9ef68C51b">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/f04085d4a88a0c0300b7f369ea564917.gif?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8d085750cdabca5e8485d0310b7eb0fc0ef2103c">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/c5e6d42da810446ae7b9705006aa2d79.png?w=500&auto=format">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <div class="mySlides1 fade">
        <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd886bd266a27c593c95161b0ecab87b45ddf8150">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/efbeb8b3a6708b498a08feea4dc8b111.gif?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xb6c29b68fecedbf005743c3eaf5139328b651deb">
                <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://i.seadn.io/gcs/files/42caffe9d3d466900c378a949be85fa1.png?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd9b78A2F1dAFc8Bb9c60961790d2beefEBEE56f4">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gae/ZoC0EZPOaQeMGdAmqXh-PbOqEdrINf37NnD7wxI8FRa0Ymt8corMCzOP0xMPXjx2P12cvB6pDLWWnPSFJ1cOwbjqZc2_c3haN3n_8A?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9aBa43dA6a7f7E51Fcb253ccE636d4E25A65Fa83">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/80e5517c1784fec957a9138d56af8d4b.jpg?w=500&auto=format">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Next and previous buttons -->
      <a class="prev" id="plusSlides1Minus">&#10094;</a>
      <a class="next" id="plusSlides1Plus">&#10095;</a>
    </div>
    
    <!-- Slideshow container -->
      <div class="slideshow-container slide2">
    
        <!-- Full-width images with number and caption text -->
        <div class="mySlides2 fade">
          <table>
            <tr>
              <td>
                <form action="/marketgm" method="POST" id="searchForm">
                  <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8fba3ebe77d3371406a77eeaf40c89c1ed55364a">
                  <input type="image" class="slideImages" id="paginationBtn" src="https://raw.githubusercontent.com/Zerobeings/ZeroBeingsNFTs/main/images/00001.png">
                </form>
              </td>
              <td>
                <form action="/marketgm" method="POST" id="searchForm">
                  <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x6866ed9a183f491024692971a8f78b048fb6b89b">
                  <input type="image" class="slideImages" id="paginationBtn" src="https://nft-cdn.alchemy.com/eth-mainnet/c4273623069c967a8ee3b8f6f08cf57f">
                </form>
              </td>
              <td>
                <form action="/marketgm" method="POST" id="searchForm">
                  <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xBE4Bef8735107db540De269FF82c7dE9ef68C51b">
                  <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/f04085d4a88a0c0300b7f369ea564917.gif?w=500&auto=format">
                </form>
              </td>
            </tr>
          </table>
        </div>
    
         <!-- Full-width images with number and caption text -->
         <div class="mySlides2 fade">
         <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8d085750cdabca5e8485d0310b7eb0fc0ef2103c">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/c5e6d42da810446ae7b9705006aa2d79.png?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd886bd266a27c593c95161b0ecab87b45ddf8150">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/efbeb8b3a6708b498a08feea4dc8b111.gif?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xb6c29b68fecedbf005743c3eaf5139328b651deb">
                <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://i.seadn.io/gcs/files/42caffe9d3d466900c378a949be85fa1.png?w=500&auto=format">
              </form>
            </td>
          </tr>
         </table>
        </div>
      
        <div class="mySlides2 fade">
          <table>
            <tr>
              <td>
                <form action="/marketgm" method="POST" id="searchForm">
                  <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd9b78A2F1dAFc8Bb9c60961790d2beefEBEE56f4">
                  <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gae/ZoC0EZPOaQeMGdAmqXh-PbOqEdrINf37NnD7wxI8FRa0Ymt8corMCzOP0xMPXjx2P12cvB6pDLWWnPSFJ1cOwbjqZc2_c3haN3n_8A?w=500&auto=format">
                </form>
              </td>
              <td>
                <form action="/marketgm" method="POST" id="searchForm">
                  <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9aBa43dA6a7f7E51Fcb253ccE636d4E25A65Fa83">
                  <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/80e5517c1784fec957a9138d56af8d4b.jpg?w=500&auto=format">
                </form>
              </td>
              <td>
                <form action="/marketgm" method="POST" id="searchForm">
                  <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8fba3ebe77d3371406a77eeaf40c89c1ed55364a">
                  <input type="image" class="slideImages" id="paginationBtn" src="https://raw.githubusercontent.com/Zerobeings/ZeroBeingsNFTs/main/images/00001.png">
                </form>
              </td>
            </tr>
          </table>
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" id="plusSlides2Minus">&#10094;</a>
        <a class="next" id="plusSlides2Plus">&#10095;</a>
      </div>
    
        <!-- Slideshow container -->
    <div class="slideshow-container slide3">
    
      <!-- Full-width images with number and caption text -->
      <div class="mySlides3 fade">
        <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8fba3ebe77d3371406a77eeaf40c89c1ed55364a">
                <input type="image" class="slideImages" id="paginationBtn" src="https://raw.githubusercontent.com/Zerobeings/ZeroBeingsNFTs/main/images/00001.png">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x6866ed9a183f491024692971a8f78b048fb6b89b">
                <input type="image" class="slideImages" id="paginationBtn" src="https://nft-cdn.alchemy.com/eth-mainnet/c4273623069c967a8ee3b8f6f08cf57f">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <div class="mySlides3 fade">
        <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xBE4Bef8735107db540De269FF82c7dE9ef68C51b">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/f04085d4a88a0c0300b7f369ea564917.gif?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8d085750cdabca5e8485d0310b7eb0fc0ef2103c">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/c5e6d42da810446ae7b9705006aa2d79.png?w=500&auto=format">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <div class="mySlides3 fade">
        <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd886bd266a27c593c95161b0ecab87b45ddf8150">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/efbeb8b3a6708b498a08feea4dc8b111.gif?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xb6c29b68fecedbf005743c3eaf5139328b651deb">
                <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://i.seadn.io/gcs/files/42caffe9d3d466900c378a949be85fa1.png?w=500&auto=format">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <div class="mySlides3 fade">
        <table>
          <tr>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd9b78A2F1dAFc8Bb9c60961790d2beefEBEE56f4">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gae/ZoC0EZPOaQeMGdAmqXh-PbOqEdrINf37NnD7wxI8FRa0Ymt8corMCzOP0xMPXjx2P12cvB6pDLWWnPSFJ1cOwbjqZc2_c3haN3n_8A?w=500&auto=format">
              </form>
            </td>
            <td>
              <form action="/marketgm" method="POST" id="searchForm">
                <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9aBa43dA6a7f7E51Fcb253ccE636d4E25A65Fa83">
                <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/80e5517c1784fec957a9138d56af8d4b.jpg?w=500&auto=format">
              </form>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Next and previous buttons -->
      <a class="prev" id="plusSlides3Minus">&#10094;</a>
      <a class="next" id="plusSlides3Plus">&#10095;</a>
    </div>
    
      <!-- Slideshow container -->
      <div class="slideshow-container slide4">
    
        <!-- Full-width images with number and caption text -->
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8fba3ebe77d3371406a77eeaf40c89c1ed55364a">
            <input type="image" class="slideImages" id="paginationBtn" src="https://raw.githubusercontent.com/Zerobeings/ZeroBeingsNFTs/main/images/00001.png">
          </form>
        </div>
    
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x6866ed9a183f491024692971a8f78b048fb6b89b">
            <input type="image" class="slideImages" id="paginationBtn" src="https://nft-cdn.alchemy.com/eth-mainnet/c4273623069c967a8ee3b8f6f08cf57f">
          </form>
        </div>
      
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xBE4Bef8735107db540De269FF82c7dE9ef68C51b">
            <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/f04085d4a88a0c0300b7f369ea564917.gif?w=500&auto=format">
          </form>
        </div> 
    
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x8d085750cdabca5e8485d0310b7eb0fc0ef2103c">
            <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/c5e6d42da810446ae7b9705006aa2d79.png?w=500&auto=format">
          </form>
        </div> 
    
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd886bd266a27c593c95161b0ecab87b45ddf8150">
            <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/efbeb8b3a6708b498a08feea4dc8b111.gif?w=500&auto=format">
          </form>
        </div>
    
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xb6c29b68fecedbf005743c3eaf5139328b651deb">
            <input type="image" class="slideImages border-2px-solid-white" id="paginationBtn" src="https://i.seadn.io/gcs/files/42caffe9d3d466900c378a949be85fa1.png?w=500&auto=format">
          </form>
        </div>
      
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0xd9b78A2F1dAFc8Bb9c60961790d2beefEBEE56f4">
            <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gae/ZoC0EZPOaQeMGdAmqXh-PbOqEdrINf37NnD7wxI8FRa0Ymt8corMCzOP0xMPXjx2P12cvB6pDLWWnPSFJ1cOwbjqZc2_c3haN3n_8A?w=500&auto=format">
          </form>
        </div> 
    
        <div class="mySlides4 fade">
          <form action="/marketgm" method="POST" id="searchForm">
            <input type="search" placeholder="Collection" class="hidden" name="collection" value="0x9aBa43dA6a7f7E51Fcb253ccE636d4E25A65Fa83">
            <input type="image" class="slideImages" id="paginationBtn" src="https://i.seadn.io/gcs/files/80e5517c1784fec957a9138d56af8d4b.jpg?w=500&auto=format">
          </form>
        </div> 
       
      
        <!-- Next and previous buttons -->
        <a class="prev" id="plusSlides4Minus">&#10094;</a>
        <a class="next" id="plusSlides4Plus">&#10095;</a>
      </div>