<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  
<header>
    <nav>
        <ul>
          <li><a href="/goerli-marketgm" id="footerLoader" class="orange-color">goerli - Market gm</a></li>
          <li><a href="">Learn</a></li>
          <li><a href="/goerli-myListings" id="footerLoader">My Listings</a></li>
        </ul>
    </nav>
</header>


<main>
  <div>
    <h1>Something went wrong :(</h1>
    <h3 class="error error-h3"></h3>
  </div>

<br></br>

</main>


<footer id="footer">
  <%- include('../partials/goerli-footerMarket'); %>
</footer>
<script src="/js/date.js"></script>
</body>
</html>