<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  
<header>
    <nav>
        <ul>
          <li><a href="/goerli-marketgm" onclick="return onLoading()" style="color: orange;">goerli - Market gm</a></li>
          <li><a href="">Learn</a></li>
          <li><a href="/goerli-myListings" onclick="return onLoading()">My Listings</a></li>
        </ul>
    </nav>
</header>


<main>
  <div>
    <h1>Something went wrong :(</h1>
    <h3 style="text-align:center; background-color: #333;" class="error"></h3>
  </div>

<br></br>

</main>


<footer id="footer">
  <%- include('../partials/goerli-footerMarket'); %>
</footer>

</body>
</html>