<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
   
</header>


<main>
      
  <div class="centerLogin" style="margin-bottom:10px; justify-content: center;align-items: center; display:grid; ">
    <div style="font-size: 42px;">ACCOUNT</div>
    <form id="userForm" action="">
      <select name="user" id="user" class="loginoptions">
        <option value="zerb">Zerb</option>
        <option value="guest">Guest</option>
      </select>
      <div id="btns" class="invisible">
        <input type="submit" value="login" id="login" class="buttonloginoptions" style="align-items: center; position: absolute;">          
    </form>
        <button id="logout" class="buttonlogoutoptions" style="align-items: center; position: absolute;">logout</button>
      </div>
    <p class="footer" style="justify-content: center;align-items: center; display: flex; margin-top: 60px;">
        Powered by 
        <a style="text-decoration:none; margin-left: 5px;" class="link" target="_blank" href="https://privateparty.dev/">Privateparty</a>
        <div style="justify-content: center; display: flex; ">
          <a style="width:100%; position: absolute; margin-bottom: 10px;" href="https://mint.zerobeings.xyz/">
            <img style="width:100%; position: absolute; margin-bottom: 10px;" src="/images/mint.png" />
          </a>
        </div>
    </p>
  </div>
  <pre class='session hidden'></pre>
  <div class='error'></div>
</main>

<script>
    const userSelect = document.getElementById('userForm');
    const params = new URLSearchParams(window.location.search)
    const party = new Privateparty({
    walletconnect: "8043036ad7e74ff3a2fd273b4b78a231"
    })
    document.addEventListener("DOMContentLoaded", async () => {
      let session = await party.session("zerb", { fresh: true }) || await party.session("guest", { fresh: true });
      
      if (session && session.account) {
        // logged in => display logout button
        document.querySelector("#login").classList.add("hidden")
        document.querySelector("#user").classList.add("hidden")
        document.querySelector("#logout").addEventListener("click", async (e) => {
          
          try {
            if(session.aud === "zerb"){
              let session = await party.disconnect("zerb")
              let callback = params.get("callback") ? params.get("callback") : location.href
              location.href = '/login'
            }
            if(session.aud === "guest"){
              let session = await party.disconnect("guest")
              let callback = params.get("callback") ? params.get("callback") : location.href
              location.href = '/login'
            }
          } catch (e) {
            alert(e.message)
          }
        })
      } else {
        // logged out => display login button
        document.querySelector("#logout").classList.add("hidden")
        userSelect.addEventListener("submit", async (e) => {
          e.preventDefault(); //prevent default submission behavior
          const data = new FormData(e.target);
          const userselected = data.get("user");
          try {
            if(userselected === "zerb"){
              let session = await party.connect(userselected, null, null)
              let callback = params.get("callback") ? params.get("callback") : location.href
              location.href = '/'
            }
            if(userselected === "guest"){
              let session = await party.connect(userselected, null, null)
              let callback = params.get("callback") ? params.get("callback") : location.href
              location.href = '/goerli-marketgm'
            }
          } catch (e) {
            alert(e.message)
          }
        })
      }
     document.querySelector("#btns").classList.remove("invisible")  
    })
    </script>
</body>
</html>